body {
  margin: 0;
}

.page {
  height: 100vh;
  background-color: #a29bfe;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loginName {
  border: 2px solid #000;
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
}

#loginPage {
  display: flex;
}

#chatPage {
  display: none;
}