body {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  height: 100vh;
  background-color: #a29bfe;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loginName {
  border: 2px solid #000;
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  max-width: 400px;
}

#loginPage {
  display: none;
}

#chatPage {
  display: flex;
}

.chatArea {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: #a29bfe;
}

.chatList {
  flex: 1;
  background-color: #fff;
}

.userList {
  width: 200px;
  background-color: #a29bfe;
}

.chatInput {
  width: 100%;
  display: flex;
}

#chatMessage {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  background-color: #dfe6e9;
  outline: 0;
  border: 0;
}